selenium~=4.23.1
beautifulsoup4~=4.12.3
torch~=2.2.2
transformers~=4.44.2
tweepy~=4.14.0
yfinance~=0.2.43
pandas~=2.2.2
tqdm~=4.66.5
numpy~=1.26.4
scikit-learn~=1.5.1
scipy~=1.14.1
matplotlib~=3.9.2
optuna~=4.0.0